PORT=3000
CLIENT_API_KEY=replace_with_my_client_api_key
CHAKRA_ACCESS_TOKEN=replace_with_chakra_access_token
CHAKRA_PLUGIN_ID=replace_with_plugin_id
CHAKRA_WA_API_VERSION=v22.0
CHAKRA_PHONE_NUMBER_ID=replace_with_phone_number_id
